@model IEnumerable<Entity_Layer.UNIDAD_DETALLE>

<p>
    @Html.ActionLink("Nueva Unidad ", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_UNIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_UNIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_TAREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_TAREA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID_UNIDAD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_UNIDAD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID_TAREA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_TAREA)
    </td>
    <td>
        @Html.ActionLink("Editar", "Update", new { id = item.id }) 
        @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
