@model IEnumerable<Entity_Layer.UNIDAD_DETALLE>
@{
    ViewBag.Title = "Read";
}
<style>
    a {
        color: white;
    }

        a:hover {
            color: white;
            text-decoration: none;
        }

    .btn-mant {
        width: 60px;
        font-size: 10px;
    }
</style>
<br />
<h3>Mantenedor de Unidad Detalle</h3>
<hr />
<br />
@if (Session["perfil"] != null)
{
    if (Convert.ToInt32(Session["perfil"]) == 1 || Convert.ToInt32(Session["perfil"]) == 2)
    {
        <div class="col-lg-6">
            <p class="btn btn-success btn-create">
                @Html.ActionLink("Nueva Unidad Detalle ", "Insert")
            </p>
        </div>
    }
    <br />
    <div class="table-responsive-sm table-responsive-md">
        <table class="table table-hover">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_UNIDAD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE_UNIDAD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_TAREA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NOMBRE_TAREA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_TERMINO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHACREACION)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ESTADO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FECHA_ESTIMADA)
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_UNIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_UNIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_TAREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE_TAREA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_TERMINO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHACREACION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESTADO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHA_ESTIMADA)
            </td>
            <td>
                <p class="btn btn-warning btn-mant"> @Html.ActionLink("Editar", "Update", new { id = item.id })</p>
            </td>
            <td>
                <p class="btn btn-danger btn-mant">  @Html.ActionLink("Eliminar", "Delete", new { id = item.id })</p>

            </td>
        </tr>
            }

        </table>
    </div>
}
else
{
    <h1>Debe logearse para acceder a esta opcion, no te creas vivo ctm</h1>
}


