@model Entity_Layer.UNIDAD_DETALLE
<style>
    input, select, textarea {
        max-width: 2000px;
    }

    form label {
        margin-bottom: 0px;
    }

    form input, select {
        margin-bottom: 5px;
    }
</style>
@{
    ViewBag.Title = "Update";
}
<style>
    input, select, textarea {
        max-width: 2000px;
    }

    form label {
        margin-bottom: 0px;
    }

    form input {
        margin-bottom: 5px;
    }
</style>



@Html.AntiForgeryToken()

<br>
<h4>Editar Tareas Flujo</h4>
<hr />
@if (Session["usu"] != null)
{
    <div class="row">
        <div class="form-horizontal col-lg-6">
            <form id="udet_update2" method="post" action="@Url.Action("Update2", "UNIDADDETALLE" , new { id=Model.id})">
                <div class="form-group">
                    <div hidden>  @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })</div>
                    @Html.LabelFor(model => model.ID_UNIDAD, htmlAttributes: new { @class = "control-label" })

                    @*@Html.EditorFor(model => model.ID_UNIDAD, new { htmlAttributes = new { @class = "form-control" } })*@
                    <select name="ID_UNIDAD" id="ID_UNIDAD" class="form-control">
                        @foreach (var item in ViewBag.ListaUnidades)
                        {
                            if (ViewBag.Unidad == item.ID_UNIDAD)
                            {
                                <option value="@item.ID_UNIDAD" selected>
                                    @item.NOMBRE
                                </option>
                            }
                            else
                            {
                                <option value="@item.ID_UNIDAD">
                                    @item.NOMBRE
                                </option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.ID_UNIDAD, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ID_TAREA, htmlAttributes: new { @class = "control-label" })

                    @*@Html.EditorFor(model => model.ID_TAREA, new { htmlAttributes = new { @class = "form-control" } })*@
                    <select name="ID_TAREA" id="ID_TAREA" class="form-control">
                        @foreach (var item in ViewBag.ListaTareas)
                        {
                            if (ViewBag.Tarea == item.IDTAREA)
                            {
                                <option value="@item.IDTAREA" selected>
                                    @item.NOMBRETAREA
                                </option>
                            }
                            else
                            {
                                <option value="@item.IDTAREA">
                                    @item.NOMBRETAREA
                                </option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.ID_TAREA, "", new { @class = "text-danger" })

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label" })

                    @*@Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })*@
                    <select name="ESTADO" id="ESTADO" class="form-control">
                        @foreach (var item in ViewBag.ListaEstados)
                        {
                            if (ViewBag.Estado == item.ID)
                            {
                                <option value="@item.ID" selected>
                                    @item.NOMBRE
                                </option>
                            }
                            else
                            {
                                <option value="@item.ID">
                                    @item.NOMBRE
                                </option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Rut_Usu, htmlAttributes: new { @class = "control-label" })

                    @*@Html.EditorFor(model => model.RUT_USU, new { htmlAttributes = new { @class = "form-control" } })*@
                    <select name="Rut_Usu" id="Rut_Usu" class="form-control">
                        @foreach (var item in ViewBag.ListaUsuarios)
                        {
                            if (ViewBag.Usuario == Convert.ToInt32(item.RUT))
                            {
                                <option value="@item.RUT" selected>
                                    @(item.NOMBRES +" " + item.APELLIDO_PATERNO)
                                </option>
                            }
                            else
                            {
                                <option value="@item.RUT">
                                    @(item.NOMBRES +" " + item.APELLIDO_PATERNO)
                                </option>
                            }

                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.Rut_Usu, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FECHA_ESTIMADA, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.FECHA_ESTIMADA, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.FECHA_ESTIMADA, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Editar Subtarea" class="btn btn-success btn-block" />
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-6">
            <form style="margin-left:30px;" id="tarea_comentarios" method="post" action="@Url.Action("Comentar", "UNIDADDETALLE")">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div hidden>  @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })</div>
                <label class="control-label">Comentarios</label>
                <textarea class="form-control" name="MENSAJE" id="MENSAJE" required placeholder="Ingrese mensaje"></textarea>

                <button type="submit" class="btn btn-info fa fa-paper-plane class="fa fa-send" style="width:max-content;margin-top:5px;margin-top:5px;margin-top:5px;margin-bottom:7px;"> </button>
                <br />
                <div class="table table-responsive" style="overflow:auto; height:200px;">
                    <table class="table table-hover">
                        <thead>
                            <tr hidden>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.ListaPosts)
                            {
                                <tr>
                                    <td>
                                        @item.FECHACREACION
                                    </td>
                                    <td>
                                        @item.nombre_usuario
                                    </td>
                                    <td style="max-width:300px;">
                                        @item.MENSAJE
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>



}
else
{
    <h1>Debe logearse para acceder a esta opcion, no te creas vivo ctm</h1>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
