@model Entity_Layer.TAREA

@{
    ViewBag.Title = "Insert";
}
<style>
    input, select, textarea {
        max-width: 2000px;
    }

    form label {
        margin-bottom: 0px;
    }

    form input {
        margin-bottom: 5px;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br>
    <h4>Crear Tarea</h4>
    <hr />
    if (Session["usu"] != null)
    { 
        <div class="form-horizontal">
            <div class="card col-lg-6">
                <div class="card-body">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @Html.LabelFor(model => model.NOMBRETAREA, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.NOMBRETAREA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NOMBRETAREA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @Html.LabelFor(model => model.RUT_USU, htmlAttributes: new { @class = "control-label" })
                            @*@Html.EditorFor(model => model.RUT_USU, new { htmlAttributes = new { @class = "form-control" } })*@
                            <select name="RUT_USU" id="RUT_USU" class="form-control">
                                <option value="0" selected>
                                    Sin Asignar
                                </option>
                                @foreach (var item in ViewBag.ListaUsuarios)
                                {
                                    <option value="@item.RUT">
                                        @(item.NOMBRES +" " + item.APELLIDO_PATERNO)
                                    </option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.RUT_USU, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @Html.LabelFor(model => model.FechaEstimada, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FechaEstimada, new { htmlAttributes = new { @class = "form-control" , @type ="date" } })
                            @Html.ValidationMessageFor(model => model.FechaEstimada, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            @Html.LabelFor(model => model.ESTADO_TAREA, htmlAttributes: new { @class = "control-label" })
                            @* @* @Html.EditorFor(model => model.ESTADO_TAREA, new { htmlAttributes = new { @class = "form-control" } })*@
                            <select name="ESTADO_TAREA" id="ESTADO_TAREA" class="form-control">
                                @foreach (var item in ViewBag.EstadosTarea)
                                {

                                    <option value="@item.ID">
                                        @item.NOMBRE
                                    </option>

                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.ESTADO_TAREA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <input type="reset" value="Limpiar" class="btn btn-info" />
                            <input type="submit" value="Crear Tarea" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Debe logearse para acceder a esta opcion, no te creas vivo ctm</h1>
    }
}

<div>
    @*@Html.ActionLink("Volver a Lista", "Read")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
