@model IEnumerable<Entity_Layer.TAREA>

@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<p>
    @Html.ActionLink("Create nueva tarea", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDTAREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRETAREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHACREACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO_TAREA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_ACTUAL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDTAREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRETAREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHACREACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO_TAREA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_ACTUAL)
        </td>
        <td>
            @Html.ActionLink("Editar", "Update", new { IDTAREA = item.IDTAREA }) |
            @Html.ActionLink("Delete", "Delete", new { IDTAREA = item.IDTAREA })
        </td>
    </tr>
}

</table>
