<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process S.A </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    #nav_processsa_logo {
        width: 115px;
    }

    #nav_processsa_logo_2 {
        width: 115px;
        padding-top: 20px;
    }

    @@media (max-width: 992px) {
        #nav_processsa_logo_2 {
            display: none;
        }
    }

    .btn-success,
    .btn-info {
        width: 49%;
    }

    @@media (min-width: 400px) {
        .select-mul {
            min-width: 400px;
        }
    }


    @@media (max-width: 394px) {
        .select-mul {
            min-width: 350px;
        }
    }

    @@media (min-width: 992px) {
        .select-mul {
            width: 500px;
        }

        .card {
            margin-left: 5px;
        }
    }

    .btn-eliminar {
        width: 100%;
    }

    table th {
        text-align: center;
        font-size: 13px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #cfe8ed;
    }

    table td {
        text-align: center;
        font-size: 12px;
        padding-left: 1px;
        padding-right: 2px;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="@Url.Action("Index", "Home")"><img src="~/Imagenes/processsalogo.png" alt="Italian Trulli" id="nav_processsa_logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Process S.A</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
