<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process S.A </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    #nav_processsa_logo {
        width: 115px;
    }

    #nav_processsa_logo_2 {
        width: 115px;
        padding-top: 20px;
    }

@@media (max-width: 992px) {
    #nav_processsa_logo_2 {
        display: none;
    }
}
    .btn-success ,
    .btn-info{
        width: 49%;
    }

    @@media (min-width: 400px) {
        .select-mul {
            min-width: 400px;
        }
    }


    @@media (max-width: 394px) {
        .select-mul {
            min-width: 350px;
        }
    }

    @@media (min-width: 992px) {
        .select-mul {
            width: 500px;
 
        }

        .card {
            margin-left: 5px;
        }
    }

    .btn-eliminar {
        width: 100%;
    }

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        <a>Process S.A</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Read", "Empresa")">Empresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Read", "Tarea")">Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Read", "Perfil")">Perfil</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Inicio</a>
            </li>*@
            @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login", "Mantenedor")">Login</a>
        </li>*@
            @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("About", "Home")">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contacto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Roles", "Mantenedor")">Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Flujos", "Mantenedor")">Flujos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Tareas", "Mantenedor")">Tareas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("TareasSubordinadas", "Mantenedor")">Tareas Subordinadas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Usuarios", "Mantenedor")">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Conexion", "Mantenedor")">Conexion</a>
        </li>*@
            @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Delete", "Mantenedor")">eliminar usuarios</a>
        </li>*@

            @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Read", "Mantenedor")">Lista usuarios</a>
        </li>*@
            @*<li class="nav-item">
            <a class="nav-link" href="@Url.Action("Insert", "Mantenedor")">Ingresar usuarios</a>
        </li>*@
        </ul>
      @*<div class="form-inline">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="@Url.Action("Register", "Account")">Registrarse</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="@Url.Action("Login", "Account")">Ingresar</a>
              </li>
          </ul>
      </div>*@
    </div>
  </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Process S.A</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
