<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process S.A </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/b-1.6.5/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/b-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/b-1.6.5/b-flash-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
    <link href=”//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css” rel=”stylesheet”>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<style>
    body {
        padding-top: 0px;
        padding-bottom: 0px;
        background: white url(https://www.lefthudson.com/wp-content/uploads/2019/11/white-background-1920x1080-fresh-white-background-hd-c2b7e291a0-download-free-full-hd-backgrounds-for-desktop-puters-and-smartphones-this-year-of-white-background-1920x1080.jpg) top center no-repeat fixed;
    }


    #nav_processsa_logo {
        width: 115px;
    }

    #nav_processsa_logo_2 {
        width: 115px;
        padding-top: 20px;
    }

    @@media (max-width: 992px) {
        #nav_processsa_logo_2 {
            display: none;
        }
    }

    .btn-success,
    .btn-info {
        width: 49%;
    }

    @@media (min-width: 400px) {
        .select-mul {
            min-width: 400px;
        }
    }


    @@media (max-width: 394px) {
        .select-mul {
            min-width: 350px;
        }
    }

    @@media (min-width: 992px) {
        .select-mul {
            width: 500px;
        }

        .card {
            margin-left: 5px;
        }
    }

    .btn-eliminar {
        width: 100%;
    }

    table th {
        text-align: center;
        font-size: 13px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #50a4b29c;
    }

    table td {
        text-align: center;
        font-size: 12px;
        padding-left: 1px;
        padding-right: 2px;
    }

    .fa-file-pdf, .fa-file-csv, .fa-file-excel, .fa-clipboard{
        font-size:25px;
    }
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="@Url.Action("Index", "Home")"><img src="~/Imagenes/processsalogo.png" alt="Italian Trulli" id="nav_processsa_logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @if (Session["perfil"] != null)
        {
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    @if (Convert.ToInt32(Session["perfil"]) == 1)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Empresa
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Empresa")">Crear Empresa</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Empresa")">Mantenedor Empresas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuario
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Mantenedor")">Crear Usuario</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Mantenedor")">Mantenedor Usuarios</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Perfil")">Crear Rol</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Perfil")">Mantenedor Roles</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tarea
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Tarea")">Crear Tarea</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Tarea")">Mantenedor Tareas</a>
                            </div>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Flujos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Unidades")">Crear Flujo</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Unidades")">Mantenedor Flujos</a>
                                <a class="dropdown-item" href="@Url.Action("Insert", "UNIDADDETALLE")">Asignar Tarea</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "UNIDADDETALLE")">Mantenedor Tareas Flujo</a>
                            </div>
                        </li>

                    }
                    @if (Convert.ToInt32(Session["perfil"]) == 2)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Flujos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Unidades")">Crear Flujo</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Unidades")">Mantenedor Flujos</a>
                                <a class="dropdown-item" href="@Url.Action("Insert", "UNIDADDETALLE")">Asignar Tarea</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "UNIDADDETALLE")">Mantenedor Tareas Flujo</a>
                            </div>
                        </li>

                    }
                    @if (Convert.ToInt32(Session["perfil"]) == 3)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tarea
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Tarea")">Crear Tarea</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Tarea")">Mantenedor Tareas</a>
                            </div>
                        </li>
                    }
                </ul>
                @if (Convert.ToInt32(Session["perfil"]) > 0)
                {
                    <li style="list-style-type: none">
                        <a style="color:white;">@Session["nombreper"].ToString()</a>
                    </li>
                    <li style="list-style-type: none">
                        <div class="topnav">
                            <!--<a href="javascript:ruta()">Home</a>-->
                            @using (Html.BeginForm("Logout", "Mantenedor", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-link">Cerrar sesión</button>
                            }
                        </div>
                    </li>
                }
            </div>
        }
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Process S.A</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
@*
    @if (Session["perfil"] != null)
    {
        <script>
            //Script que impide el uso del botón atrás del navegador
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button";
            window.onhashchange = function () { window.location.hash = "";}
        </script>
    }
*@

<script>
    function formatRut(rut) {
        // XX.XXX.XXX-X
        let value = rut.replace(/\./g, '').replace('-', '');

        if (value.match(/^(\d{2})(\d{3}){2}(\w{1})$/)) {
            value = value.replace(/^(\d{2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4');
        }
        else if (value.match(/^(\d)(\d{3}){2}(\w{0,1})$/)) {
            value = value.replace(/^(\d)(\d{3})(\d{3})(\w{0,1})$/, '$1.$2.$3-$4');
        }
        else if (value.match(/^(\d)(\d{3})(\d{0,2})$/)) {
            value = value.replace(/^(\d)(\d{3})(\d{0,2})$/, '$1.$2.$3');
        }
        else if (value.match(/^(\d)(\d{0,2})$/)) {
            value = value.replace(/^(\d)(\d{0,2})$/, '$1.$2');
        }
        $('#RUT').val(value);
    }

    $('#RUT').on('input', function () {
        formatRut($('#RUT').val());
    });

</script>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable({
            dom: 'Bfrtip',
            buttons: [
                { "extend" : 'copyHtml5', "text": '', "className": 'fa fa-clipboard btn btn-outline-info', "title": 'Copiar a portapaeles' },
                { "extend": 'excelHtml5', "text": '', "className": 'fa fa-file-excel btn btn-outline-success', "title": 'export_to_excel' },
                { "extend": 'csvHtml5', "text": '', "className": 'fa fa-file-csv btn btn-outline-success', "title": 'export_to_csv' },
                { "extend": 'pdfHtml5', "text": '', "className": 'fa fa-file-pdf btn btn-outline-danger', "title": 'export_to_pdf' }
            ],
            "oLanguage": {

                "sSearch": "Filtrar por:"

            },
            "language": {
                "info": " ",
                "paginate": {
                    "previous": "Atras",
                    "next": "Siguiente"
                }
                

            }

           
        });
        $('')
    });
</script>

