<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process S.A </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Rut.js"></script>
</head>
<style>
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }


    #nav_processsa_logo {
        width: 115px;
    }

    #nav_processsa_logo_2 {
        width: 115px;
        padding-top: 20px;
    }

    @@media (max-width: 992px) {
        #nav_processsa_logo_2 {
            display: none;
        }
    }

    .btn-success,
    .btn-info {
        width: 49%;
    }

    @@media (min-width: 400px) {
        .select-mul {
            min-width: 400px;
        }
    }


    @@media (max-width: 394px) {
        .select-mul {
            min-width: 350px;
        }
    }

    @@media (min-width: 992px) {
        .select-mul {
            width: 500px;
        }

        .card {
            margin-left: 5px;
        }
    }

    .btn-eliminar {
        width: 100%;
    }

    table th {
        text-align: center;
        font-size: 13px;
        padding-left: 3px;
        padding-right: 3px;
        background-color: #cfe8ed;
    }

    table td {
        text-align: center;
        font-size: 12px;
        padding-left: 1px;
        padding-right: 2px;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="@Url.Action("Index", "Home")"><img src="~/Imagenes/processsalogo.png" alt="Italian Trulli" id="nav_processsa_logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @if (Session["perfil"] != null)
        {
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    @if (Convert.ToInt32(Session["perfil"]) == 1)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Empresa
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Empresa")">Crear Empresa</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Empresa")">Mantenedor Empresas</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuario
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Mantenedor")">Crear Usuario</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Mantenedor")">Mantenedor Usuarios</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Roles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Perfil")">Crear Rol</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Perfil")">Mantenedor Roles</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tarea
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <!--<a class="dropdown-item" href="@Url.Action("Insert", "Tarea")">Crear Tarea</a>-->
                                <a class="dropdown-item" href="@Url.Action("Read", "Tarea")">Mantenedor Tareas</a>
                            </div>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Unidades
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Unidades")">Crear Unidad</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Unidades")">Mantenedor Unidades</a>
                            </div>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Unidad Detalle
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "UNIDADDETALLE")">Crear Unidad Detalle</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "UNIDADDETALLE")">Mantenedor Unidades  Detalle</a>
                            </div>

                        </li>
                    }
                    @if (Convert.ToInt32(Session["perfil"]) == 2)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Unidades
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Unidades")">Crear Unidad</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Unidades")">Mantenedor Unidades</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Unidad Detalle
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "UNIDADDETALLE")">Crear Unidad Detalle</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "UNIDADDETALLE")">Mantenedor Unidades  Detalle</a>
                            </div>
                        </li>
                    }
                    @if (Convert.ToInt32(Session["perfil"]) == 3)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tarea
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("Insert", "Tarea")">Crear Tarea</a>
                                <a class="dropdown-item" href="@Url.Action("Read", "Tarea")">Mantenedor Tareas</a>
                            </div>
                        </li>
                    }
                </ul>
                @if (Convert.ToInt32(Session["perfil"]) > 0)
                {
                    <li style="list-style-type: none">
                        <a style="color:white;">@Session["nombreper"].ToString()</a>
                    </li>
                    <li style="list-style-type: none">
                        <div class="topnav">
                            <!--<a href="javascript:ruta()">Home</a>-->
                            @using (Html.BeginForm("Logout", "Mantenedor", FormMethod.Post, new { role = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" class="btn btn-link">Cerrar sesión</button>
                            }

                        </div>
                    </li>
                }
            </div>


        }
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Process S.A</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
@*
    @if (Session["perfil"] != null)
    {
        <script>
            //Script que impide el uso del botón atrás del navegador
            window.location.hash = "no-back-button";
            window.location.hash = "Again-No-back-button";
            window.onhashchange = function () { window.location.hash = "";}
        </script>
    }
*@