@model IEnumerable<Entity_Layer.PERFIL>

@{
    ViewBag.Title = "Read";
}
<style>
      a {
        color: white;
    }

        a:hover {
            color: white;
            text-decoration: none;
        }

    .btn-mant {
        width: 60px;
        font-size: 10px;
    }
</style>
<br />
<h3>Mantenedor de Roles</h3>
<hr />
<br />
<div class="col-lg-6">
    <p class="btn btn-success btn-create">
        @Html.ActionLink("Nuevo Rol", "Insert")
    </p>
</div>
<br />
<div class="table-responsive-sm table-responsive-md">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_PERFIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_PERFIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPCION)
                </td>
                <td>
                    <p class="btn btn-warning btn-mant">@Html.ActionLink("Editar", "Update", new { ID_PERFIL = item.ID_PERFIL })</p>
                </td>
                <td>
                    <p class="btn btn-danger btn-mant"> @Html.ActionLink("Eliminar", "Delete", new { ID_PERFIL = item.ID_PERFIL })</p>
                </td>
            </tr>
        }

    </table>
</div>

