@model Entity_Layer.EMPRESA
<style>
    input, select, textarea {
        max-width: 2000px;
    }

    form label {
        margin-bottom: 0px;
    }

    form input {
        margin-bottom: 5px;
    }
</style>
<form id="mant_conexion" method="post" action="@Url.Action("Insert", "Empresa")">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br>
        <h4>Crear Empresa</h4>
        <hr />
        @if (Session["usu"] != null)
        {
            <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.RUT, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.RUT, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RUT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.DIRECCION, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DIRECCION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.CORREO_CONTACTO, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CORREO_CONTACTO, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.CORREO_CONTACTO, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.TELEFONO_CONTACTO, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TELEFONO_CONTACTO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TELEFONO_CONTACTO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.ESTADO, htmlAttributes: new { @class = "control-label" })
                                    @*@Html.EditorFor(model => model.ESTADO, new { htmlAttributes = new { @class = "form-control" } })*@
                                    <select id="listbox" name="ESTADO" class="form-control">
                                        @foreach (var item in ViewBag.EstadosUsuario)
                                        {
                                            <option value="@item.ID">
                                                @item.NOMBRE
                                            </option>
                                        }
                                    </select>
                                    @Html.ValidationMessageFor(model => model.ESTADO, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    @*@Html.DropDownList("yourDropName", listItems, new { @class = "form-control" })*@
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="reset" value="Limpiar" class="btn btn-info" />
                                    <input type="submit" value="Crear Empresa" class="btn btn-success" />
                                </div>
                            </div>
                        </div>

                    </div>
 
            </div>

        }
        else
        {
            <h1>Debe logearse para acceder a esta opcion, no te creas vivo ctm</h1>
        }
    </div>
</form>
  


    @*
        }
    *@
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
