@model IEnumerable<Entity_Layer.EMPRESA>

@{
    ViewBag.Title = "Read";
}
<style>
    table{
        min-width:100%;
    }

    a {
        color: white;
    }

        a:hover {
            color: white;
            text-decoration: none;
        }

    .btn-mant {
        width: 60px;
        font-size: 10px;
    }
</style>
<br />
<h3>Mantenedor de Empresas</h3>
<hr />
<br />
<div class="col-lg-6">
    <p class="btn btn-success btn-create">
        @Html.ActionLink("Nueva Empresa", "Insert")
    </p>
</div>
<div class="table-responsive-sm table table-responsive-md">
    <table class="table table-hover">
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DIRECCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CORREO_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TELEFONO_CONTACTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTADO)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RUT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIRECCION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CORREO_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TELEFONO_CONTACTO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ESTADO)
                </td>
                <td>
                    <p class="btn btn-warning btn-mant"> @Html.ActionLink("Editar", "Update", new { ID = item.ID })</p>
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
                    
                </td>
                <td>
                    <p class="btn btn-danger btn-mant">@Html.ActionLink("Eliminar", "Delete", new { ID = item.ID })</p>
                </td>
            </tr>
        }
    </table>
</div>
    


