
@{
    ViewBag.Title = "Dashboard";
}
<style>
    h2{
        font-weight:bold;
    }
</style>
<br />
@if (Session["perfil"] != null && Convert.ToInt32(Session["perfil"]) == 1)
{
    <h1>Empresa : @Session["nombreemp"]</h1>
    <br />
    <h2>Bienvenido: @Session["nombre"] @Session["apellido"]</h2>
    <br />
    <h4>Fecha de hoy  : <span class="text-md-center">@DateTime.Now</span></h4>

}
else
{
    <h2>Empresa : @Session["nombreemp"]</h2>
    <h3>Bienvenido @Session["nombre"] @Session["apellido"],</h3>
    <p>tienes tareas asignadas en estos flujos :</p>
    <br />

    if (Convert.ToInt32(Session["perfil"]) == 1)
    {



    }
    else if (Convert.ToInt32(Session["perfil"]) == 2 || Convert.ToInt32(Session["perfil"]) == 3)
    {
        @model IEnumerable<Entity_Layer.Dashboard_Gen>
        <div class="table-responsive-sm table-responsive-md">
            <table class="table table-hover" id="tabla">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NOMBRE_UNIDAD)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FECHACREACION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FECHA_ESTIMADA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DIAS_DIF)
                        </th>
                        <th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.FECHA_TERMINO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tareas_ter)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cant_tareas_tot)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ESTADO)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nombre_usurio)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.procentaje)
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.NOMBRE_UNIDAD)*@
                    <a href="@Url.Action("Read2", "UNIDADDETALLE" , new { ID_UNIDAD=item.ID_UNIDAD})">@item.NOMBRE_UNIDAD</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FECHACREACION)
                </td>
                <td>
                    @if (item.ATRASO == 1)
                    {
                        if (item.ESTADO != "Terminado")
                        {
                            <p style="color:red;"><b>@item.FECHA_ESTIMADA</b></p>
                        }

                    }
                    else if (item.ESTADO != "Terminado" && item.ATRASO == 0 && item.DIAS_DIF < 10)
                    {
                        if (item.ESTADO != "Terminado")
                        {
                            <p style="color:orange;"><b>@item.FECHA_ESTIMADA</b></p>
                        }
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FECHA_ESTIMADA)
                    }
                </td>
                <td>
                    @if (item.ATRASO == 0 && item.DIAS_DIF < 10)
                    {
                        if (item.ESTADO != "Terminado")
                        {
                            <p style="color:orange"><b>@item.DIAS_DIF</b></p>
                        }
                    }
                    else if (item.ATRASO == 1)
                    {
                        if (item.ESTADO != "Terminado")
                        {
                            <p style="color:red"><b>@item.DIAS_DIF</b></p>
                        }
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.DIAS_DIF)
                    }
                </td>
                <td>
                    @if (item.ATRASO == 0 && item.DIAS_DIF < 10 && item.ESTADO != "Terminado" )
                    {
                       <i class="fa fa-exclamation-triangle" title="Quedan menos de 10 días para terminar" style="color:orange;font-size:15px;" data-toggle="tooltip"></i>
                    }
                    else if (item.ATRASO == 1 && item.ESTADO != "Terminado")
                    {
                        <i class="fa fa-exclamation-triangle" title="@item.NOMBRE_UNIDAD fuera de plazo" style="color:red;font-size:15px;" data-toggle="tooltip"></i>
                    }
                    else
                    {

                    }
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.FECHA_TERMINO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tareas_ter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cant_tareas_tot)
                </td>
                <td style="padding:7px 0px;">
                    @if(item.ESTADO == "En Proceso")
                    {
                        <p style="color:orange;">En Proceso <i class="fa fa-arrow-circle-right"></i></p>
                    }else if (item.ESTADO == "Terminado")
                    {
                        <p style="color:green;">Terminado <i class="fa fa-check-circle"></i></p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre_usurio)
                </td>
                <td>
                    @if (item.procentaje == 100)
                    {
                        <div style="background:#808080;border-radius:5%;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @item.procentaje%;border-radius:5%;" aria-valuenow="@item.procentaje" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="@item.NOMBRE_UNIDAD terminado">@item.procentaje%</div>
                        </div>
                    }
                    else
                    {
                        <div style="background:#808080;border-radius:5%;">
                            <div class="progress-bar" role="progressbar" style="width: @item.procentaje%;border-radius:5%; " aria-valuenow="@item.procentaje" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" title="@item.NOMBRE_UNIDAD lleva un @item.procentaje% de progreso">@item.procentaje%</div>
                        </div>
                    }

                </td>
                @*<td>
            <p class="btn btn-warning btn-mant"> @Html.ActionLink("Editar", "Update", new { id = item.id })</p>
        </td>
        <td>
            <p class="btn btn-danger btn-mant">  @Html.ActionLink("Eliminar", "Delete", new { id = item.id })</p>

        </td>*@
            </tr>
                }

            </table>
        </div>

    }
}


