@model Entity_Layer.USUARIO

<h3>Ingresar su usuario</h3>
<div>
    <h4>USUARIO</h4>
    <hr />
    <dl class="dl-horizontal">
 
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRASENA)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
