@model IEnumerable<Entity_Layer.USUARIO>

<p>
    @Html.ActionLink("Crear usuario", "Insert")
</p>
<table class="tab-content">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDO_PATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELIIDO_MATERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUMERO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_USUARIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRASENA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_PERFIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPRESA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.ID_USUARIO)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.RUT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRES)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.APELLIDO_PATERNO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.APELIIDO_MATERNO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CORREO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NUMERO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DIRECCION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE_USUARIO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CONTRASENA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID_PERFIL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ESTADO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EMPRESA)
    </td>
    <td>
        @Html.ActionLink("Editar", "Update", new { ID_USUARIO = item.ID_USUARIO })
        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })*@
        @Html.ActionLink("Eliminar", "Delete", new { ID_USUARIO = item.ID_USUARIO })

    </td>
</tr>
}

</table>
